<div class="note-creator shadow-2">
      <form class="row" (submit)="onCreateNote()">
        <input
          type="text"
          [(ngModel)]="newNote.title"
          *ngIf="fullForm"
          name="newNoteTitle"
          placeholder="Title"
          class="col-xs-10 title"
        />
        <input
          type="text"
          [(ngModel)]="newNote.value"
          (focus)="toggleFormView(true)"
          name="newNoteValue"
          placeholder="Take a note..."
          class="col-xs-10"
        />
        <div 
          class="actions col-xs-12 row between-xs"
          *ngIf="fullForm"
        >
          <button
            type="submit"
            class="btn-light"
           >
            Done
          </button>
        </div>
    </form>
</div>